.mainColor {
  color: #5011cc;
}

.mainBGColor {
  background-color: #5011cc;
  color: white;
}

.activeLink {
  color: #5011cc !important;
}

.nav-link {
  font-size: 18px !important;
  font-weight: 500 !important;
  padding: 8px 0 !important;
}

.nav-link:hover {
  color: #5011cc !important;
  border-bottom: 2px solid #5011cc !important;
  padding-bottom: 1px !important;
  transition: border-bottom 0.2s ease-in-out !important;
}
@media (max-width: 796px) {
  .nav-link:hover {
    border-bottom: none !important;
    padding-bottom: 8px !important;
  }
}

.homeImgTop {
  width: 600px;
}
@media (max-width: 796px) {
  .homeImgTop {
    width: 100%;
  }
}

.homeImgDown {
  width: 600px;
}
@media (max-width: 796px) {
  .homeImgDown {
    width: 100%;
  }
}

.btn:hover {
  background-color: #5011cc !important;
  border-color: #5011cc !important;
}

.card:hover .card-title {
  color: #5011cc;
}

.All-Blog .card-text-top::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 1px;
  background-color: #5011cc;
}

.VirtualTours .mainImage {
  height: 480px;
  overflow: hidden;
  vertical-align: middle;
  object-fit: contain;
}
@media (max-width: 1024px) {
  .VirtualTours .mainImage {
    height: 24rem;
  }
}
@media (max-width: 796px) {
  .VirtualTours .mainImage {
    height: 16rem;
  }
}

.VirtualTours .mainContent .container,
.BlogDetails .mainContent .container,
.About {
  width: 45% !important;
}
@media (max-width: 1200px) {
  .VirtualTours .mainContent .container,
  .BlogDetails .mainContent .container,
  .About {
    width: 60% !important;
  }
}
@media (max-width: 1024px) {
  .VirtualTours .mainContent .container,
  .BlogDetails .mainContent .container,
  .About {
    width: 75% !important;
  }
}
@media (max-width: 796px) {
  .VirtualTours .mainContent .container,
  .BlogDetails .mainContent .container,
  .About {
    width: 100% !important;
  }
}

footer .social a {
  width: 50%;
  display: block;
}

.footerImg {
  width: 100%;
  height: auto;
}

footer ul li {
  list-style: none;
}
